body {
    background-color: rgb(231, 231, 253);
}

h1 { 
    color: rgb(34, 73, 247);
    text-align: center;
}

p {
    font-size: 20px;
    text-align: justify;
    text-indent: 25px;
}

ul li {
    margin-bottom: 15px;
}

img {
    width: 300px;
    border-radius: 20px;
    display: block;
    margin: 10px 0;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #0400ff;
    padding: 10px;
    text-align: center;
    background-color: #e1fdfb;
}

a {
    color: blue;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    color: chocolate;
    text-decoration: underline;
}
